@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}

  #box {

    /* background-color: coral; */
    margin: auto;
    width:900px;
    height:700px;
    overflow: hidden;
    position: relative;
    /* margin-left: 50%;
    margin-right: 50%; */
    } 
    
canvas {
    width: 900px;
    top: -100px;
    position: absolute;

}


body {


    background-color: black;
    background: url("../img/spaceblue.png") repeat ;

    /* 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    */

    -moz-animation:animatedBackground 400s linear infinite;
    -ms-animation:animatedBackground 400s linear infinite;
    -o-animation:animatedBackground 400s linear infinite;
    -webkit-animation:animatedBackground 400s linear infinite;
    animation:animatedBackground 400s linear infinite;
}

#score {
    color:#ADD8E6;
    text-align: center;
    margin-top: -30px;;
}