@font-face { font-family: Alexana; src: url('font/Alexana.ttf'); } 
@font-face { font-family: Alexana; font-weight: bold; src: url('font/Alexana.ttf');}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}

body {
    background-color: black;
    background: url("../img/spaceblue.png") repeat ;

    /* 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    */

    -moz-animation:animatedBackground 400s linear infinite;
    -ms-animation:animatedBackground 400s linear infinite;
    -o-animation:animatedBackground 400s linear infinite;
    -webkit-animation:animatedBackground 400s linear infinite;
    animation:animatedBackground 400s linear infinite;

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

h1 {
    color: #ADD8E6;
    text-align: center;
    font-size: 80px;
    /* box-shadow: 20px 20px 0 rgba(255, 255, 255, .2); */
    /* background-color: black; */
    color:#ADD8E6;
    padding: 8px 40px;
    text-decoration: none;
    font-family: Alexana, sans-serif;
    border-radius: 20px;
    padding: 0;
    top: 10%; 
    /* bottom: 0;
    left: 20%;
    right: 0;
    width: 40%;
    height: 10%; */
    /* margin: auto;  */
}


a {
    text-decoration:none;
    color: #ADD8E6;
    text-align: center;
    font-size: 60px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, .2);
    background-color: black;
    color:#ADD8E6;
    padding: 8px 40px;
    text-decoration: none;
    font-family: Alexana, sans-serif;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 10%;
    margin: auto;
  }

