@font-face { font-family: Alexana; src: url('font/Alexana.ttf'); } 
@font-face { font-family: Alexana; font-weight: bold; src: url('font/Alexana.ttf');}

@font-face { font-family: Astrobia; src: url('font/Astrobia.otf'); } 
@font-face { font-family: Astrobia; font-weight: bold; src: url('font/Astrobia.otf');}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}

  #box {
    /* background-color: coral; */
    margin: auto;
    width:900px;
    height:700px;
    overflow: hidden;
    position: relative;
    /* margin-left: 50%;
    margin-right: 50%; */
    } 
    
canvas {
    width: 900px;
    top: -100px;
    position: absolute;
}


body {
    background-color: black;
    background: url("../img/spaceblue.png") repeat ;

    /* 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    */
    -moz-animation:animatedBackground 400s linear infinite;
    -ms-animation:animatedBackground 400s linear infinite;
    -o-animation:animatedBackground 400s linear infinite;
    -webkit-animation:animatedBackground 400s linear infinite;
    animation:animatedBackground 400s linear infinite;
    /* overflow: hidden; */
    position: relative;
}

h1 {
    font-family: Alexana, sans-serif;
    color: #ADD8E6;
    text-align: center;
    font-size: 50px;
    /* box-shadow: 20px 20px 0 rgba(255, 255, 255, .2); */
    /* background-color: black; */
    color:#ADD8E6;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

.text {
    background-color: white 0.2;
    border-radius: 20px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, .2);
    border: 1px white solid;
    color: #ADD8E6;
    position: absolute;
    width: 20%;
    top: 100px;
    left: 30px;
    text-align: center;
    margin-right: auto;
    font-family: Astrobia, sans-serif;
    padding: 10px;
}

#score {
    background-color: white 0.2;
    border-radius: 20px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, .2);
    border: 1px white solid;
    color: #ADD8E6;
    position: absolute;
    width: 20%;
    top: 100px;
    right: 30px;
    text-align: center;
    margin-left: auto;
    font-family: Astrobia, sans-serif;
    padding: 20px;
}

#alert {
    display: none;
    background-color: rgb(148, 34, 34);
    /* border-radius: 20px; */
    box-shadow: 10px 10px 0 rgba(206, 203, 57, 0.4);
    /* border: 1px red solid; */
    border-style: outset;
    color: white;
    position: absolute;
    width: 20%;
    top: 350px;
    right: 30px; 
    text-align: center;
    margin-left: auto;
    font-family: Astrobia,sans-serif;
    padding: 10px;

}

#gameOver {
    display:none;
    color: #ADD8E6;
    text-align: center;
    font-size: 60px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, .2);
    background-color: black;
    color:#ADD8E6;
    padding: 8px 30px;
    text-decoration: none;
    font-family: Astrobia, sans-serif;
    /* border-radius: 20px; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 75%;
    margin: auto;
}

#newGame {
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, .2);
    background-color: black;
    color:#ADD8E6;
    padding: 8px 30px;
    text-decoration: none;
    font-family: Alexana, sans-serif;
    border: 1px white solid;
    /* border-radius: 20px; */
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 20%;
    margin: auto;
}

#chancePointsImage {
    width: 15%;
    margin: 0;
    position: absolute;
    top: 250px;
    margin-left: auto;
    right: 90px; 
}